/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */


/* --------------------------------------------------------------------------------
  Meta Box Styles
--------------------------------------------------------------------------------- */

.jpid-panel {
  padding: 20px 10px 10px 10px;
}

.jpid-header-container {
  margin-bottom: 1.5em;
}

.jpid-field-container {
  display: table;
  width: 100%;
}

.jpid-label-wrapper {
  display: table-cell;
  width: 30%;
  padding: 10px 10px 10px 0;
  vertical-align: top;
}

.jpid-label-wrapper__label {
  font-weight: 600;
  line-height: 1.4em;
  word-wrap: break-word;
}

.jpid-field-wrapper {
  display: table-cell;
  width: 70%;
  padding: 10px 10px 10px 0;
}

.jpid-field-wrapper__field {
  border-radius: 4px;
  width: 100%;
}

.jpid-field-wrapper__field-short {
  width: 50%;
}


/* --------------------------------------------------------------------------------
  Independent Styles
--------------------------------------------------------------------------------- */

.hidden {
  display: none;
}

.jpid-inline-paragraph {
  display: inline-block;
}

.jpid-field-input,
.jpid-field-select {
  width: 100%;
}

.jpid-field-input-short,
.jpid-field-select-short {
  width: 50%;
}

.column-type {
  width: 15%;
}

.jpid-actions {
  margin: 0;
}

.jpid-label-required::after {
  content: "*";
  color: #f44336;
  width: 20px;
  height: 20px;
}

.jpid-tooltip .jpid-tooltip__text {
  visibility: hidden;
  font-size: 11px;
  background-color: #212121;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 10px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.jpid-tooltip .jpid-tooltip__text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #212121 transparent;
}

.jpid-tooltip:hover .jpid-tooltip__text {
  visibility: visible;
}

/* --------------------------------------------------------------------------------
  Settings Page Styles
--------------------------------------------------------------------------------- */

#jpid_order_available_date {
  width: 13%;
}

#jpid_delivery_hours_start,
#jpid_delivery_hours_end {
  width: 7%;
}

#jpid_locations_container {
  margin-bottom: 1em;
}

.jpid-location-table {
  margin: 1em 0 0;
}

.jpid-location-table-placeholder {
  margin: 1em 0 0;
  border: 2px dashed #bbb;
}

.jpid-location-table th {
  padding: 10px 10px;
}

.jpid-location-table th.jpid-location-table__province-header {
  width: 25%;
}

.jpid-location-table th.jpid-location-table__cities-header {
  width: 40%;
}

.jpid-location-table th.jpid-location-table__remove-header {
  width: 25%;
}

.jpid-location-table td {
  vertical-align: top;
}

.jpid-location-table td.jpid-location-table__province-data {
  width: 25%;
}

.jpid-location-table td.jpid-location-table__cities-data {
  width: 40%;
}

.jpid-location-table td.jpid-location-table__remove-data {
  width: 25%;
}

#jpid_accounts_table {
  margin: 1em 0 0;
}

#jpid_accounts_table th {
  padding: 20px 10px;
}

#jpid_accounts_table th.sort {
  width: 20px;
  padding: 0 4px;
}

#jpid_accounts_table th:not(.sort) {
  width: 33%;
}

#jpid_accounts_table td {
  padding: 0;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  border-top: 0;
  background: #fff;
}

#jpid_accounts_table td.sort {
  cursor: move;
  font-size: 16px;
  background: #f9f9f9;
  text-align: center;
  vertical-align: middle;
  padding: 0 4px;
}

#jpid_accounts_table td.sort:before {
  content: "\f333";
  font-family: Dashicons;
  text-align: center;
  line-height: 1;
  color: #999;
  display: block;
  height: 100%;
  width: 100%;
  float: left;
  height: 100%;
}

#jpid_accounts_table td.sort:hover:before {
  color: #555;
}

#jpid_accounts_table td:not(.sort) {
  width: 33%;
}

#jpid_accounts_table td input[type="text"] {
  width: 100%;
  padding: 5px 7px;
  margin: 0;
  border: 0;
  background: 0 0;
}

#jpid_accounts_table tr.current td:not(.sort) {
  background: #fefbcc;
}


/* --------------------------------------------------------------------------------
  Customer Page Styles
--------------------------------------------------------------------------------- */

#jpid_customer_action {
  width: 100%;
  margin: 0 0 10px 0;
}

#jpid_customer_details .jpid-panel img.avatar {
  float: left;
  width: 60px;
  height: auto;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #C5C5C5;
}

#jpid_customer_details .jpid-panel h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.4em;
  text-shadow: 1px 1px 1px #fff;
  margin: 0;
  padding: 0;
  clear: none;
}

#jpid_customer_details .jpid-panel p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1em;
  color: #777;
  float: left;
  margin: .5em 1em 0 0;
}

#jpid_customer_details .jpid-panel p::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-family: dashicons;
  vertical-align: top;
  text-align: left;
}

#jpid_customer_details #jpid_order_value::before {
  content: "\f185";
}

#jpid_customer_details #jpid_order_count::before {
  content: "\f174";
}

.selectize-control .selectize-input .item {
  font-size: 14px;
}


/* --------------------------------------------------------------------------------
  Customer List Page Styles
--------------------------------------------------------------------------------- */

table.customers thead #customer_value {
  width: 15%;
}

table.customers thead #date_created {
  width: 15%;
}

table.customers #the-list td {
  padding: 8px 10px;
  vertical-align: top;
}

table.customers #the-list td strong {
  font-weight: 600;
}

table.customers #the-list td.column-customer_name img {
  float: left;
  margin: 0px;
  margin-right: 10px;
  margin-top: 1px;
}

table.customers #the-list td.column-customer_contacts span {
  display: block;
  margin: 3px 0;
}

table.customers #the-list td.column-customer_actions a.button {
  cursor: pointer;
  float: left;
  height: auto;
  margin: 0 4px 2px 0;
  padding: 3px 4px;
  display: block;
  height: 2em !important;
  padding: 0 !important;
  position: relative;
  /*text-indent: -9999px;*/
  width: 2em;
}

table.customers #the-list td.column-customer_actions a.button::after {
  font-variant: normal;
  font-weight: 400;
  height: 100%;
  left: 0;
  line-height: 1.85;
  margin: 0;
  position: absolute;
  text-align: center;
  text-indent: 0;
  text-transform: none;
  top: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

table.customers #the-list td.column-customer_actions a.edit::after {
  content: "\f464";
  font-family: dashicons;
}

table.customers #the-list td.column-customer_actions a.delete::after {
  content: "\f182";
  font-family: dashicons;
}

table.customers #the-list td.column-customer_actions a.user::after {
  content: "\f110";
  font-family: dashicons;
}

/* --------------------------------------------------------------------------------
  WP Default Styles Modifier
--------------------------------------------------------------------------------- */

.widefat small.meta {
  display: block;
  color: #999;
  font-size: inherit;
  margin: 3px 0;
}
