/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

/* --------------------------------------------------------------------------------
  Meta Box Styles
--------------------------------------------------------------------------------- */

.jpid-field-container {
  position: relative;
  clear: both;
  padding-right: 240px;
}

.jpid-label-wrapper {
  float: left;
  width: 200px;
  padding: 20px 10px 20px 0;
}

.jpid-label-wrapper__label {
  vertical-align: top;
  font-weight: 600;
  line-height: 1.4em;
}

.jpid-field-wrapper {
  float: right;
  width: 100%;
  margin: 0 -230px 0 auto;
  padding: 10px 10px 10px 10px;
}

.postbox .jpid-field-wrapper {
  margin-right: -240px;
  padding-right: 0px;
}

.jpid-field-wrapper__field {
  width: 100%;
}

.jpid-field-container::after {
  clear: both;
}

.jpid-field-container::after,
.jpid-field-container::before {
  display: table;
  content: "";
}

/* --------------------------------------------------------------------------------
  Independent Styles
--------------------------------------------------------------------------------- */

.jpid-field-input,
.jpid-field-select {
  width: 100%;
}

.jpid-field-input-short,
.jpid-field-select-short {
  width: 50%;
}

.column-type {
  width: 15%;
}

/* --------------------------------------------------------------------------------
  Specific Page Styles
--------------------------------------------------------------------------------- */
