/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */


/* --------------------------------------------------------------------------------
  Meta Box Styles
--------------------------------------------------------------------------------- */

.jpid-field-container {
  display: table;
  width: 100%;
}

.jpid-label-wrapper {
  display: table-cell;
  width: 30%;
  padding: 15px 10px 20px 0;
}

.jpid-label-wrapper__label {
  position: absolute;
  font-weight: 600;
  line-height: 1.4em;
}

.jpid-field-wrapper {
  display: table-cell;
  width: 70%;
  padding: 10px 10px 10px 10px;
}

.jpid-field-wrapper__field {
  width: 100%;
}

.jpid-field-wrapper__field-short {
  width: 50%;
}


/* --------------------------------------------------------------------------------
  Independent Styles
--------------------------------------------------------------------------------- */

.hidden {
  display: none;
}

.jpid-inline-paragraph {
  display: inline-block;
}

.jpid-field-input,
.jpid-field-select {
  width: 100%;
}

.jpid-field-input-short,
.jpid-field-select-short {
  width: 50%;
}

.column-type {
  width: 15%;
}


/* --------------------------------------------------------------------------------
  Settings Page Styles
--------------------------------------------------------------------------------- */

#jpid_order_available_date {
  width: 13%;
}

#jpid_delivery_hours_start,
#jpid_delivery_hours_end {
  width: 7%;
}

#jpid_locations_container {
  margin-bottom: 1em;
}

.jpid-location-table {
  margin: 1em 0 0;
}

.jpid-location-table-placeholder {
  margin: 1em 0 0;
  border: 2px dashed #bbb;
}

.jpid-location-table th {
  padding: 10px 10px;
}

.jpid-location-table th.jpid-location-table__province-header {
  width: 25%;
}

.jpid-location-table th.jpid-location-table__cities-header {
  width: 40%;
}

.jpid-location-table th.jpid-location-table__remove-header {
  width: 25%;
}

.jpid-location-table td {
  vertical-align: top;
}

.jpid-location-table th.jpid-location-table__province-data {
  width: 25%;
}

.jpid-location-table th.jpid-location-table__cities-data {
  width: 40%;
}

.jpid-location-table th.jpid-location-table__remove-data {
  width: 25%;
}

#jpid_accounts_table {
  margin: 1em 0 0;
}

#jpid_accounts_table th {
  width: 100%;
  padding: 20px 10px;
}

#jpid_accounts_table th:not(.sort) {
  width: 33%;
}

#jpid_accounts_table th.sort {
  width: 20px;
  padding: 0 4px;
}

#jpid_accounts_table td {
  padding: 0;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  border-top: 0;
  background: #fff;
}

#jpid_accounts_table td:not(.sort) {
  width: 33%;
}

#jpid_accounts_table td.sort {
  cursor: move;
  font-size: 16px;
  background: #f9f9f9;
  text-align: center;
  vertical-align: middle;
  padding: 0 4px;
}

#jpid_accounts_table td.sort:before {
  content: "\f333";
  font-family: Dashicons;
  text-align: center;
  line-height: 1;
  color: #999;
  display: block;
  height: 100%;
  width: 100%;
  float: left;
  height: 100%;
}

#jpid_accounts_table td.sort:hover:before {
  color: #555;
}

#jpid_accounts_table td input[type="text"] {
  width: 100%;
  padding: 5px 7px;
  margin: 0;
  border: 0;
  background: 0 0;
}

#jpid_accounts_table tr.current td:not(.sort) {
  background: #fefbcc;
}

/* --------------------------------------------------------------------------------
  Specific Page Styles
--------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------
  WP Default Styles Modifier
--------------------------------------------------------------------------------- */
